body {
    background-color: #2980b9;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    font-family: 'Quicksand', sans-serif;
}

#main, #chats {
    width: 75%;
    margin: auto;
    text-align: left;
    background: #ecf0f1;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 20px;
}

.jumbotron h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 7em;
}

form {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 20px;
    padding: 5px;
}

.chat {
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: #bdc3c7;
    border-radius: 20px;
    height: 150px;
    font-size: 1.3em;
    overflow-y: scroll;
    transition: all 0.2s;
}
    

.chat .username {
    font-weight: 800;
    max-width: 100%;
    overflow: hidden;
    width: auto;
    position: relative;
}

.chat:hover {
    background-color: #b5dbff;
}


.friends {
    -webkit-box-shadow: 1px 1px 20px 2px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 20px 2px rgba(0,0,0,1);
    box-shadow: 1px 1px 20px 2px rgba(0,0,0,1);
}
.name {
    transition: all 0.2s;
    font-style: italic;
    font-size: .9em;
}
.name:hover {
    color: #e67e22;
    cursor: pointer;
}

select {
    max-width: 75%;
}

#create-message {
    width: 100%;
}

.textbox {
    min-width: 65%;
}

.time {
    position: relative;
    bottom: -35px;
    font-size: .8em;
}

.message {
    position: relative;
    bottom: -15px;
}

.exit-btn {
    padding-left: 3px;
    position: absolute;
    top: -1px;
    right: -1px;
}
