body {
    background-color: #2980b9;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    font-family: 'Quicksand', sans-serif;
}

#main, #chats {
    width: 75%;
    margin: auto;
    text-align: left;
    background: #ecf0f1;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 20px;
}

.jumbotron h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 7em;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 10px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 20px;
    padding: 5px;
}

.chat {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #bdc3c7;
    border-radius: 20px;
    height: 150px;
    font-size: 1.3em;
    overflow-y: scroll;
}
    

.chat .username {
    font-weight: 800;
    max-width: 100%;
    overflow: hidden;
    width: auto;
}

.chat:hover {
    background-color: #b5dbff;
}


.friends {
    color: red;
}

.username:hover {
    color: #e67e22;
    cursor: pointer;
}

select {
    max-width: 75%;
}

#create-message {
    width: 100%;
}

.textbox {
    min-width: 65%;
}
